# Backend
backend/node_modules
backend/dist
backend/data-dev
backend/.env

# iOS / Theos
ios/.theos/
ios/packages/

# iOS / Xcode (si jamais ouvert sur un Mac)
ios/Walkie.xcodeproj/project.xcworkspace/xcuserdata/
ios/Walkie.xcodeproj/xcuserdata/
ios/**/*.xcuserstate
ios/DerivedData/

# OS
.DS_Store
